  
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    border-radius: 7px;
    
}

body{
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(116, 115, 25, 0.5)), url(img/fundo1.png);
    margin: -3% -7%;
    margin-bottom: 10%;
    font-size: 1.1em;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    background-size:100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-color:black ;
}

input, select {
    height: 25px;
    border-color: initial;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(163, 159, 159, 0.247);
    color: white;
    font-size: 1em;
}

select {
    width: 120px;
    height: 30px;
}


option{
    color: black;
}

#cadastroF {
    margin: 2% 10%;
    text-align:left;
    justify-items: center;
    display: inline-block;
    background-color: rgba(95, 35, 35, 0.322);
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-spacing: 50px;
    
}

#NomeC, #nomeR {
    width: 300px;
}

#nuM {
    width: 40px;
    margin-left: -50px;
}

.cep {
    margin-left: -210px;
}

.cep2 {
    margin-left: -165px;
    width: 131px;
}

#dadosP {
    width: 5px;
    display: flex;
}

#imgP {
    margin: 10px;
    width: 120px;
}

::-webkit-scrollbar{width: 7px;}
::-webkit-scrollbar-track {background:rgb(211, 208, 208)}
::-webkit-scrollbar-thumb{background: linear-gradient(#a1802785,#9fa12760)}
::-webkit-scrollbar-thumb:hover{background:linear-gradient(rgb(248, 230, 197),rgb(245, 248, 197))}