  
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    border-radius: 7px;
}

body{
    color: white;
    text-shadow: 0px 0px 6px #000000;
    background: linear-gradient(rgba(49, 48, 48, 0.5), rgba(23, 47, 116, 0.719)), url(img/fundo1.png);
    margin: -3% -7%;
    margin-bottom: 10%;
    font-size: 1.1em;
    overflow: hidden;
    font-family: 'Comfortaa', cursive;
    background-size:100%;
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-color:black ;
    display: flex;
}

input, select {
    height: 25px;
    border-color: initial;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(19, 31, 49, 0.164);
    color: white;
    font-size: 1em;
}

select {
    width: 120px;
    height: 30px;
}

option{
    color: black;
}

button {
    margin-right:initial;
    width: 100px;
    height: 50px;
}


#cadastroF {
    margin: 5% 9%;
    text-align:left;
    justify-items: center;
    display: inline-block;
    background-color: rgba(19, 31, 49, 0.322);
    border-radius: 15px;
    border-color: rgb(255, 255, 255);
    border-spacing: 50px;
    height: 610px;
}

#DataDNas{
    margin-left: -405px;
}

#data{
    margin-left: -320px;
    width: 180px;

}

#NomeC {
    width: 550px;
    padding : -25%;
}

#nomeR {
    width: 320px;
    padding : -25%;
}

#nuM {
    width: 40px;
    margin-left: -50px;
}

.cep {
    margin-left: -210px;
}

.cep2 {
    margin-left: -165px;
    width: 131px;
}

#dadosP {
    width: 5px;
    display: flex;
}

input[type="file"] {
    display: none;
}
#imgFunci {
    padding-top: 10px;
    width: 125px;
    height: 150px;
    background-color: rgba(0, 66, 209, 0.048);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    display: block;
    border-style:groove;
    margin: 10px;
    cursor: pointer;
  

    background: linear-gradient(rgba(46, 86, 160, 0.247), rgba(23, 116, 104, 0.425)),url('img/user.svg') ;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 1s;
    font-size: 1.1em;
    font-display:unset;
}
  

#imgFunci:hover{
    background-color: rgba(16, 25, 31, 0.705);
    color: rgba(210, 218, 240, 0.904);
}

#colaboradores {
    filter: drop-shadow(15px 10px 5px rgba(0, 0, 0,.5));
    margin: 12% -200px;
    height: 300px;
}

::-webkit-scrollbar{width: 7px;}
::-webkit-scrollbar-track {background:rgb(211, 208, 208)}
::-webkit-scrollbar-thumb{background: linear-gradient(#a1802785,#9fa12760)}
::-webkit-scrollbar-thumb:hover{background:linear-gradient(rgb(248, 230, 197),rgb(245, 248, 197))}